[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "third-party/erpc"]
	path = third-party/erpc
	url = https://github.com/shuaimu/eRPC
[submodule "third-party/rusty-cpp"]
	path = third-party/rusty-cpp
	url = https://github.com/shuaimu/rusty-cpp
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/mako-redis"]
	path = third-party/mako-redis
	url = https://github.com/makodb/mako-redis
